/***  START The Default Theme  ***/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.option-box .gear-checked,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active
{
    background-color: #586d9f;
}
.design,
.About h1 span,
.price-table .price-box h2,
.testimonials h1:first-letter,
.price-table .price-box p,
.subscribe h1:first-letter,
.skills h1:first-letter,
.footer .copyright span {
    color: #586d9f;
}
.option-box .color-option,
.testimonials .carousel-indicators li.active,
.price-table .price-box:hover
{
    border: 3px solid #586d9f;
}
.dropdown-menu {
    border-top: 3px solid #586d9f;
}
#scroll-top {
    background-color: #586d9f;
    color: #CDCDCD;
}






















